!!!
%html
  %head
    %title= current_page.data.title || "Civic Vision"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "normalize", "code", "all"
  %body
    = partial "partials/navigation"
    .blog-content.article
      .header
        %h1= current_article.title
        .details
          %span.date= current_article.date.strftime(locale_dateformat)
          - if current_article.data.author
            —
            %span.author= "#{t("blog.written_by")} #{current_article.data.author}"
      .content
        = preserve do
          = yield
    = partial "partials/newsletter_big"
    = partial "partials/footer"
  = javascript_include_tag  "all"
  = partial "partials/analytics"
