= wrap_layout :base do
  %body
    = partial "partials/analytics"
    = partial "partials/navigation"
    .blog
      = yield
      = partial "partials/newsletter_overview"
    = partial "partials/footer"
  = javascript_include_tag  "all"
