---
include_ops_calendar: true
---
= wrap_layout :base do
  = stylesheet_link_tag "code", "http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css", "donor-retention-blog"
  - if current_page.data.card
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@milafrerichs" />
    <meta name="twitter:title" content="#{current_page.title}" />
    <meta name="twitter:description" content="#{current_page.data.card.description}" />
    - if current_page.data.card.image
      <meta name="twitter:image" content="#{url_root+image_path(current_page.data.card.image)}" />
    - elsif current_page.data.image
      <meta name="twitter:image" content="#{url_root+image_path(current_page.data.image)}" />
      <meta name="description" content="#{current_page.data.card.description}" />
  - if current_page.data.keywords
    <meta name="keywords" content="#{current_page.data.keywords}" />
  %body
    %section#banner
      %h1 Donor Retention Resources
    = partial "partials/analytics", locals: { drip_id: '4828671', gtm_id: 'GTM-MTT6KM'}
    .blog-content.article
      .header
        %h1= current_article.title
        .article-image
          = image_tag current_article.data.image, alt: current_article.title
        .details
      .content
        = preserve do
          = yield
    = partial "partials/footer_donor-retention-blog"
    - partial "partials/newsletter_big", locals: { form_name: 'sdmaps', show_name: false }
  = javascript_include_tag  "https://code.jquery.com/jquery-2.1.4.min.js", "retention_blog"
