---
drip_form_id: 69033879
---
= wrap_layout :base do
  = stylesheet_link_tag "code", "http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css", "data-stories"
  - if current_page.data.card
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@milafrerichs" />
    <meta name="twitter:title" content="#{current_page.title}" />
    <meta name="twitter:description" content="#{current_page.data.card.description}" />
    - if current_page.data.image
      <meta name="twitter:image" content="#{url_root+image_path(current_page.data.image)}" />
  %body
    = partial "partials/analytics", locals: { drip_id: '4828671', gtm_id: 'GTM-MTT6KM'}
    .blog-content.article
      .header
        %h1= current_article.title
        .details
      .content
        = preserve do
          = yield
    = partial "partials/banner"
  = javascript_include_tag  "https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.0-beta.33/vega.js","https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-beta.5/vega-lite.js","https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-beta.17/vega-embed.js","https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js", "https://code.jquery.com/jquery-2.1.4.min.js","http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js", "data-stories"
  - if content_for?(:assets)
    = yield_content :assets
