= wrap_layout :base do
  = stylesheet_link_tag "code"
  %body
    = partial "partials/analytics", locals: { drip_id: '4828671', gtm_id: 'GTM-MTT6KM'}
    .blog-content.article
      .header
        %h1= current_article.title
        .details
          %span.date= current_article.date.strftime(locale_dateformat)
          - if current_article.data.author
            —
            %span.author= "#{t("blog.written_by")} #{current_article.data.author}"
      .content
        = preserve do
          = yield
