%ul.nav

  %li
    = link_to t("nav.us"), locale_path("/index.html#us")
  %li
    = link_to t("nav.contact"), locale_path("/index.html#contact")
  %li
    = link_to t("nav.blog"), locale_path("/blog/index.html")
  %li{ locale_active('en')}
    = link_to "En", "/en/index.html"
  %li{ locale_active('de')}
    = link_to "De", "/index.html"
