---
title: Civic Vision
what:
---

#welcome
  .content
    :markdown
      # #{t('about.title')}

= partial "partials/what"
= partial "partials/consultation"
= partial "partials/us"
- if data.portfolio.signature
  = partial "partials/portfolio"
= partial "partials/dataviz"
