---
title: Civic Vision
what:
consultation_form_id: 15856593
---
.cv
  #welcome
    .content
      :markdown
        # #{t('about.title')}

  = partial "partials/how"
  = partial "partials/consultation"
  = partial "partials/proof"
  = partial "partials/what"
  = partial "partials/consultation"
  = partial "partials/us"
  =# partial "partials/dataviz"
