---
title: Donor Retention
layout: lead_pages
name: pdf_report
clients: "civic advocacy groups and social sector NGOs"
tagline: "increase their donations by engaging their donors through email automation."
include_drift: true
assessment_report_form_id: 64176156
complete_package_form_id: 80152715
question_form_id: 43404604
---
- content_for :assets do
  = stylesheet_link_tag 'donor-retention'
- I18n.locale = :en
%div(id="landingpage")
  %section#banner.second-headline
    .content-wrapper
      = partial "localizable/donor-retention/headline"
  %section.sub-heading
    .content-wrapper
      = partial "localizable/donor-retention/story"
  %section.sub-heading-alternate
    .content-wrapper
      = partial "localizable/donor-retention/example"
  %section.sub-heading
    .content-wrapper
      = partial "localizable/donor-retention/solution"
  = partial "partials/testimonial", locals: { testemonial_id: 'charity_water', classes: 'multiple' }
  = partial "partials/testimonial", locals: { testemonial_id: 'american_heart', classes: 'multiple last' }
  %section.sub-heading-alternate
    .content-wrapper
      = partial "localizable/donor-retention/packages"
  %section.sub-heading#ready-to-talk
    .content-wrapper
      = partial "localizable/donor-retention/faq"
  = partial "partials/civicstorytelling/footer_new_landing"
  =javascript_include_tag "https://d3js.org/d3.v4.min.js", "retention"
