---
layout: lead_pages
report_drip_form_id: 78144431
name: retention_calculator.report
gtm_id: GTM-N67RB5T
---
- content_for :assets do
  = stylesheet_link_tag 'retention_calculator'
%div#landingpage#retention-calculator
  %section#banner.second-headline
    .content-wrapper
      %h1
        Donor Retention Calculator
      %h3 Do you know what percentage of your donors give again?

  %section.sub-heading
    .content-wrapper
      %form#retention-form.retention-calculator
        %fieldset
          .row
            %label.normal{:for => "last_year_dononor"}
              Number of Donors
              %span.last-year 2015
            %input.normal#last-year-donors{:name => "last_year_donors", :placeholder => "Donors last year", :type => "text"}/
          .row
            %label.normal{:for => "last_year_dononor"}
              Do you know how many came back in
              %span.this-year 2016
              ?
            .button-group#retained
              %label
                %input(type="radio" name="retained-switch" value="1" checked)
                %span.button-group-item Yes
              %label
                %input(type="radio" name="retained-switch" value="2")
                %span.button-group-item No
          %a#retention-rate-explanation-scroll(name='retention-rate-explanation')
          .row
            .retained
              %label.normal{:for => "retained-donors"} Number of retained donors
              %input.normal#retained-donors{:name => "this_year_donors", :placeholder => "Retained donors", :type => "text"}/
            .non-retained.hidden
              %label.normal{:for => "this_year_dononor"}
                Number of Donors
                %span.this-year 2016
              %input.last.normal#this-year-donors{:name => "this_year_donors", :placeholder => "Donors this year", :type => "text"}/
              .clear
              %label.normal{:for => "this_year_new_donors"}
                New donors
                %span.this-year 2016
              %input.normal#this-year-new-donors{:name => "this_year_new_donors", :placeholder => "New donors this year", :type => "text"}/
          .row
            %button.cta-btn#calculate-form Calculate your Retention Rate
      .box
        .stat-explanation
          Retention Rate
        .stat-number
          %span.retention-rate 46
          &#37;
        .stat-footnote
          National avg.
          %b 46%
      .explanation#explanation
        %p
          Your retention rate is
          %b#avg-indicator above
          the national average.
        %p
          If your Retention rate stays the same, only
          %b.donors-five-years x
          of your donors from
          %span.last-year 2015
          will be there in
          %span.five-years 2020
          &#46;
        %h3
          Did you know that a 1% increase in donor retention results in an average
          %span.lost-dollars$14,000
          added donation value?
        %p
          Want to know your exact numbers?
          Fill out these fields to calculate how much you could generate in one year.
        .row
          %form#increase-form.retention-calculator
            %fieldset
              .row.donation-type
                %label.normal{:for => "last_year_dononor"}
                  Donation Type
                .center
                  .button-group#donation-type
                    %label
                      %input(type="radio" name="donation-type-switch" value="1" checked)
                      %span.button-group-item Average Donation
                    %label
                      %input(type="radio" name="donation-type-switch" value="2")
                      %span.button-group-item Total Donations
              .row.avg-donation
                %label.normal{:for => "avg_last_year_donations"} Average donation
                %input.normal#avg-donations{:name => "avg_last_year_donations", :placeholder => "Average donation", :type => "text"}/
              .row.hidden.total-amount
                %label.normal{:for => "last_year_donations"} Last year total donation amount
                %input.normal#donations{:name => "last_year_donations", :placeholder => "Total donations", :type => "text"}/
              .row
                %button.cta-btn#calculate-increase-form Calculate your donation increase
        %a#increase-rate-explanation-scroll(name='increase-rate-explanation')
        .row.increase-explanation.hidden
          %p
            You had
            %b#donor-count-last-year
            donors last year and a Retention Rate of
            %b.retention-rate
            %b &#37;
            and your Average Donation is
            %b#average-donation
            &#46;
            %br
            A
            %b.percent 1
            %b &#37;
            increase will generate additional
            %b.lost-dollars
            in the first year and
            %b.lost-dollars-five
            in five years.
        .viz-container.hide.donor-retention-viz
          %ul.viz-nav
            %li
              %button.button.active(data-value="1") 1%
            %li
              %button.button(data-value="5") 5%
            %li
              %button.button(data-value="10") 10%
            %li
              %button.button(data-value="20") 20%
          .graph
          .viz-explanation
            %h5 Additional Donations
            %dl
              %dt
                %span.amount-1
              %dd after 1 Year
            %dl
              %dt
                %span.amount-4
              %dd after 5 Years

        .row.increase-explanation.hidden
          .modal.email-signup
            %label{for: "retention-results-modal"}
              .cta-btn
                Email me the results
            %input#retention-results-modal.modal-state{type: "checkbox"}/
            .modal-fade-screen#retention-results-m
              .modal-inner
                .modal-close{for: "retention-results-modal"}
                %p You're almost there.
                .signup
                  .form-content
                    %h3 Get your numbers via email
                    - action = "https://www.getdrip.com/forms/#{current_page.data.report_drip_form_id}/submissions"
                    %form(action="#{action}" method="post" data-drip-embedded-form="#{current_page.data.report_drip_form_id}" target="_blank")
                      %input(name="fields[name]" type="text" value="" placeholder="#{t("#{current_page.data.name}.placeholder.name")}")
                      %input#field-donors(name="fields[donors]" type="text" type="hidden")
                      %input#field-avg-donation(name="fields[avgDonation]" type="text" type="hidden")
                      %input#field-retained-donors(name="fields[retainedDonors]" type="text" type="hidden")
                      %input#field-retention-rate(name="fields[retentionRate]" type="text" type="hidden")
                      %input#field-donation-increase-1-1(name="fields[donationIncrease1value1]" type="text" type="hidden")
                      %input#field-donation-increase-1-5(name="fields[donationIncrease1value5]" type="text" type="hidden")
                      %input#field-donation-increase-20-1(name="fields[donationIncrease20value1]" type="text" type="hidden")
                      %input#field-donation-increase-20-5(name="fields[donationIncrease20value5]" type="text" type="hidden")
                      %input.required.email(name="fields[email]" type="email" value="" placeholder="#{t("#{current_page.data.name}.placeholder.email")}")
                      %input.subscribe.button(name="subscribe" type="submit" value="#{t("#{current_page.data.name}.subscribe")}")/
                  .form-footer
                  %p We hate SPAM and promise to keep your email address safe.
            %p
              %i You will get an email with the results you put into the calculator. Additional you will get the results for how much you could generate in one and five years with 1% and 20% increase in your donor retention rate.


= javascript_include_tag  "https://d3js.org/d3.v4.min.js", "retention_calculator"
