---
title: San Diego Maps
layout: sdmaps
---
%h1= t("sdmaps.title")
.content
  - blog('sandiego-maps').articles[0..5].each do |article|
    %article
      %h2
        %a(href="#{article.url}")= article.title
        %time= article.date.strftime(locale_dateformat)
      .summary= article.summary
      %a.more(href="#{article.url}")= t('sdmaps.more')
