---
title: Become a Marketplace Author - LeadPages
layout: lead_pages
name: pdf_report
drip_id: 2950925
---
- content_for(:analytics_code, "")
- I18n.locale = :en
%div(id="landingpage")
  = partial "partials/civicstorytelling/my_banner"
  %section.sub-heading
    .content-wrapper
      = partial "localizable/civicstorytelling/sub"
  = partial "partials/civicstorytelling/testimonial", locals: { testemonial_id: 'jeff_cip' }
  %section.sub-heading
    .content-wrapper
      = partial "localizable/civicstorytelling/results"
  %section.sub-heading-alternate
    .content-wrapper
      = partial "localizable/civicstorytelling/data_research"
      .modal
        %label{:for => "free-call-modal"}
          #free-call.cta-btn
            %u Schedule a free Call
            %span »
        %input#free-call-modal.modal-state{:type => "checkbox"}/
        .modal-fade-screen#free-call-modal-calendly
          .modal-inner
            .modal-close{:for => "free-call-modal"}
            %h1 Schedule Free Call
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/civicvision/data-source-research-30-minute-call" style="min-width:320px;height:580px;"></div>
            <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
            <!-- Calendly inline widget end -->
  = partial "partials/civicstorytelling/footer_new_landing"
