---
title: Civic Storytelling
layout: lead_pages
name: pdf_report
drip_form_id: 62178597
gtm_id: 'GTM-TTWW7N'
---
- I18n.locale = :en
%div(id="landingpage")
  = partial "partials/civicstorytelling/my_banner"
  %section.sub-heading
    .content-wrapper
      = partial "localizable/civicstorytelling/sub"
  = partial "partials/testimonial", locals: { testemonial_id: 'jeff_cip' }
  %section.sub-heading
    .content-wrapper
      = partial "localizable/civicstorytelling/results"
  %section.sub-heading-alternate
    .content-wrapper
      = partial "localizable/civicstorytelling/data_research"
      .modal
        %label{for: "free-call-modal"}
          #free-call.cta-btn
            %u Schedule a free Call
            %span »
        %input#free-call-modal.modal-state{type: "checkbox"}/
        .modal-fade-screen#free-call-modal-calendly
          .modal-inner
            .modal-close{for: "free-call-modal"}
            %h1 Schedule Free Call
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/civicvision/data-source-research-30-minute-call" style="min-width:320px;height:580px;"></div>
            <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
            <!-- Calendly inline widget end -->
  %section.sub-heading#ready-to-talk
    .content-wrapper
      = partial "localizable/civicstorytelling/ready_to_talk"
      = partial "partials/subscribe_form", locals: { drip_form_id: current_page.data.drip_form_id, name: 'civicstorytelling_talk', show_name: true }
  = partial "partials/civicstorytelling/footer_new_landing"
