---
layout: lead_pages
title: Be a donor yourself
content: Experience a Thank You campaign as a donor. This 6-day email course let's you experience how a donor would receive a Thank you campaign in a compressed way.
name: be_a_donor
drip_form_id: 35399093
---
- content_for :assets do
  = stylesheet_link_tag 'be-a-donor'
%div(id="landingpage")
  %section#banner.second-headline
    .content-wrapper
      %h1= current_page.data.title
      %h3 A free 6-day email course where you experience how a donor would receive a Thank You campaign.
  %section.sub-heading
    .content-wrapper
      %a(name="course-signup")
      %h3 Get the free course
      = partial "partials/subscribe_form", locals: { drip_form_id: current_page.data.drip_form_id, name: current_page.data.name, show_name: true}
  %section.sub-heading-alternate
    .content-wrapper
      %h3 What's included
      %ul
        %li Daily real world emails a donor would receive
        %li Compressed into 6 days
        %li Explanation why the emails are constructed in this specific way
        %li Helpful Tips for your own Thank you campaign
  %section.sub-heading
    .content-wrapper
      %h3 What will you learn?
      %ul
        %li How engaging your donors will increase the likelihood of renewed donations
        %li Why personalisation is so important
        %li Tips &amp; tricks for your emails

      = partial "partials/testimonial", locals: { testemonial_id: 'charity_water', classes: 'multiple' }
      = partial "partials/testimonial", locals: { testemonial_id: 'american_heart', classes: 'multiple last' }
  %section.sub-heading
    .content-wrapper
      .second-cta
        %h3 Ready to sign up?
        %a(href="#course-signup") Send me the first thank you email to my inbox!
