.resources-i-love
  .content
    %h1 Resources I love
    %h2 Bücher
    = partial "partials/books"
    %h2 Blogs
    = partial "partials/simple_list", locals: { resource_name: "blogs" }
    %h2 E-Mail Newsletters
    = partial "partials/simple_list", locals: { resource_name: "newsletters" }
    %h2 Podcasts
    = partial "partials/simple_list", locals: { resource_name: "podcasts" }
    %h2 Konferenzen
    = partial "partials/conferences"
    %h2 Videos
    = partial "partials/simple_list", locals: { resource_name: "videos" }
