.resources-i-love
  .content
    %h1 Resources I love
    %p This is a collection of resources that I love and would recommend to check out and read, watch or listen.
    %h2 Books
    = partial "partials/books"
    %h2 Blogs
    = partial "partials/simple_list", locals: { resource_name: "blogs" }
    %h2 Email Newsletters
    = partial "partials/simple_list", locals: { resource_name: "newsletters" }
    %h2 Podcasts
    = partial "partials/simple_list", locals: { resource_name: "podcasts" }
    %h2 Conferences
    = partial "partials/conferences"
    %h2 Videos
    = partial "partials/simple_list", locals: { resource_name: "videos" }
